.input-box{
    display: flex;
    justify-content: center;

    input{
        margin-top: 20px;
        height: 40px;
        width: 400px;
        font-size: 24px;
        border-bottom-left-radius: 25px;
        border-top-left-radius: 25px;
    }

    button{

        margin-top: 20px;
        height: 40px;
        width: 50px;
        font-size: 20px;
        padding: 8px;
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
        border: none;
        background-color: @1st-color;
        color: @2nd-color;
    }
}