.input-box{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;

    input{
        margin-top: 20px;
        height: 40px;
        width: 400px;
        font-size: 24px;
        border-bottom-left-radius: 25px;
        border-top-left-radius: 25px;
        color: @5th-color;
        padding-left: 25px;
        outline: none;
        border: 1px solid @1st-color;
        background-color: @3rd-color;

        &:focus{
            background-color: @2nd-color; 
        }
         }

    button{

        margin-top: 20px;
        height: 40px;
        width: 50px;
        font-size: 20px;
        padding: 8px;
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
        border: none;
        background-color: @1st-color;
        color: @2nd-color;
        cursor: pointer;
        outline:none;

        &:active{
            border: @2nd-color 1px solid; 
        }
    }
}

.additions-box{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;


    .addition-bar{
        height:35px;
        width: 180px;
        background-color: @2nd-color;
        display: flex;
        justify-content: space-between;
        border-bottom-left-radius: 25px;
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
        background-color: @1st-color;
        color: @2nd-color;

            p{
                margin: 0px;
                padding: 10px 0px 10px 25px;
                }
            button{
                position: relative;
                width: 40px;
                font-size: 18px;
                padding: 8px 6px 4px 6px;
                border: none;
                border-bottom-right-radius: 25px;
                border-top-right-radius: 25px;
                background-color: @1st-color;
                color: @2nd-color;

            }
        }
}