.titles{
    display: flex;
    text-align: center;
    flex-direction: column;
    color: @2nd-color;

    h1{
        font-size: 72px;
    }

    h3{
        font-size: 36px;
        margin: 0px;
    }

}